@model FinalProject.Models.Products

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="title">Add Product</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-2 center">
            <label asp-for="ProductName" class="col-sm-2"></label>
            <input asp-for="ProductName" class="col-sm-4" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="row mt-2 center">
            <label asp-for="Price" class="col-sm-2"></label>
            <input asp-for="Price" class="col-sm-4" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="row mt-2 center">
            <label asp-for="Description" class="col-sm-2"></label>
            <input asp-for="Description" class="col-sm-4" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row mt-2 center">
            <label asp-for="Image" class="col-sm-2"></label>
            <input asp-for="Image" class="col-sm-4" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="row mt-2 center">
            <label asp-for="Video" class="col-sm-2"></label>
            <input asp-for="Video" class="col-sm-4" />
            <span asp-validation-for="Video" class="text-danger"></span>
        </div>
        <div class="row mt-2 center">
            <label asp-for="Category" class="col-sm-2"></label>
            <select asp-for="Category" class="col-sm-4" asp-items="ViewBag.categories"></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-success mt-4" />
        </div>
        <div>
            <a asp-action="Index" class="btn btn-primary mt-4">Go Back</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
