@model FinalProject.Models.Users

@{
    ViewData["Title"] = "AccessDenied";
}

<section>
    <h1>You are not authorized to access this page.</h1>

    <p>
        <a asp-action="Signout">Click here</a> to signin using a different user.
    </p>
</section>

