@model FinalProject.Models.Branches

@{
    ViewData["Title"] = "Create";
}

<div class="title"><h1>Create new branch</h1></div>
<br />
<div class="row center">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-2 center">
            <label asp-for="BranchName" class="col-sm-2"></label>
            <input asp-for="BranchName" class="col-sm-4" />
            <span asp-validation-for="BranchName" class="text-danger"></span>
        </div>
        <div class="row mt-2 center">
            <label asp-for="Location" class="col-sm-2"></label>
            <input asp-for="Location" class="col-sm-4" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="row mt-2 center">
            <label asp-for="UsersId" class="col-sm-2"></label>
            <select asp-for="UsersId" class="col-sm-4" asp-items="ViewBag.UsersId"></select>
        </div>
        <div class="form-group columnAndCenter mt-2">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div class="columnAndCenter mt-2">
            <a type="button" class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
