<center><h1><b>A Little About Our Website</b></h1></center>

<center>
	<h2 style="column-count: 2; column-gap: 40px; ">


		Hey everyone! We are Tova, Naor and Amal.
		We started this company in order to help people all around the world have access to all the newest and coolest games!
		Everyday we wake up and we think of how we can make this a better place.
		We are all developers in the army who came out of the famous Mamram programming course!
		We want to encourage people to think out of the box and to bring new ideas to the table!
		It's going to be a great world when one day everyone wakes up and thinks of how they can make the world a beautiful place.
		This is a place to express yourself and sell your own orignial ideas! We started this project from a small computer science task in the Michlala of Minhal - and look at us now! We have made a multi million company which is used internationally! Things like this might seem normal for israeli start ups but for us simple people its like living the dream! We teach classes and give special permissions to people who pass a selling course to upload products!!! SO COME!!  <b>The startup nation is waiting!</b>
	</h2>
</center>