.product-item-wrapper {
    margin-top: 20px;
    border-radius: 5px;
}

.product-item {
    display: flex;
    flex-flow: column;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    text-align: center;
}

.product-main {
    height: 365px;
}

/*@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
}*/

.btn-animated:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    transition: all 1s;
}

.btn-animated:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
}
