@model FinalProject.Models.Categories

@{
    ViewData["Title"] = "Create";
}

<div class="title"><h1>Create new category</h1></div>
<br />
<div class="row center">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-2 center">
            <label asp-for="CategoryName" class="col-sm-2"></label>
            <input asp-for="CategoryName" class="col-sm-4" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <br />
        <div class="columnAndCenter mt-2">
            <input type="submit" value="Create" class="btn btn-primary mt-2" />
            <a type="button" class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
