@model FinalProject.Models.Categories

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1 class="title">Edit @Model.CategoryName</h1>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row mt-2 center">
            <label asp-for="CategoryName" class="col-sm-2"></label>
            <input asp-for="CategoryName" class="col-sm-4" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-success mt-2" />
        </div>
        <div>
            <a asp-action="Index" class="btn btn-primary mt-2">Back To List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
