@model IEnumerable<FinalProject.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Categories</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="d-flex justify-content-end">
                <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a type="button" class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
